.container {
  display: flex;
  gap: 2em;
  color: #000000;
  padding: 2em;
  background-color: rgb(54, 187, 192);

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.option {
  cursor: pointer;
  transition-duration: 0.2s;
}
.option:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.flexEnd {
  margin-left: auto;
}
