.messageBar {
  position: absolute;
  width: 100vw;
  overflow-x: hidden;
  padding: 0.5em;
  top: -100px;
  transition-duration: .5s;
  left: 0;
  box-sizing: border-box;
}

.error {
  background-color: #dc4c4c;
}

.success {
  background: #5db899;
}

.warning {
  background: #f1cc81;
}
