.container {
  width:25%;
  box-shadow: .1em .1em 1em ;
  margin-left: auto;
  margin-right: auto;
  margin-top:5em;
  padding: 1em;
}

.form {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-content: center;
  align-items: center;

}

.form button {
    cursor: pointer;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 5em;
}

.form button:hover {
  cursor: pointer;

}

.form input, label {
    width: 50%;
}

.form input{
    height: 1.5em;
    padding: 0.5em;
}

.emailErrorDialog, .passwordErrorDialog{
    font-size: small;
    display: none;
    color: red;
}

.buttonsContainer{
  display: flex;
  width: 100%;
  justify-content:space-evenly;
}

.login{
  background-color: rgb(54, 187, 192);
  color: white;
}

.register{

}
